<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/dashboard" class="brand-link">
    <img
      src="dist/img/AdminLTELogo.png"
      alt="Admin Logo"
      class="brand-image img-circle elevation-3"
    />
    <span class="brand-text font-weight-light">AdminLTE</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
      >
        <li class="nav-item">
          <a
            routerLink="/dashboard"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/dashboard/books"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-book"></i>
            <p>{{ 'Books' | translate }}</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
